@model IEnumerable<MVC_Nobel.Models.Foto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>

@foreach (var item in Model)
{
    <div>
        <div>
            <img src="@Url.Content(@item.fotoURL)" width="200" height="200" />

        </div>
        <div>
            @Html.DisplayFor(modelItem => item.fotoTitulo)
        </div>
    </div>
        <div>
           
            @Html.ActionLink("Ver la foto", "Detalles", new { id = item.fotoID }) 
           
        </div>
        
}

</div>
