<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
</head>
<body style="@Html.Action("GetBackground", "Home")">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="@Url.Action("Indice", "Foto")">
                        <img src="~/images/celedon.jpg" width="60" alt="Logo de Celedon" />
                    </a>
                    @Html.ActionLink("Vitoria Pictures", "Index", "Home", new { area = "" }, new { @class = "" })
                </div>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Fotos", "Indice", "Foto")</li>
                    <li>@Html.ActionLink("Carrousel", "Carrousel", "Foto")</li>
                    <li>@Html.ActionLink("Mapas", "Map", "Foto")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
                <ul class="nav navbar-nav navbar-right">

                    @*<div class="login-controls">*@
                    @if (Request.IsAuthenticated)
                    {
                    <li>
                        @Html.ActionLink("Hola " + @System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(User.Identity.Name) + " Cerrar Sesion", "LogOff", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Cambiar Password", "ResetPassword", "Account")
                    </li>
                    }
                    else
                    {
                    <li>
                        @Html.ActionLink("Iniciar Sesion", "Login", "Account")
                    </li>
                    <li>
                        @Html.ActionLink("Register", "Register", "Account")
                    </li>
                    }


                </ul>

            </div>
        </div>
    </div>


    <div class="container body-content">
        @*@Html.MvcSiteMap().Menu()*@
        @Html.MvcSiteMap().SiteMapPath()
        @if (Session["Favoritas"] != null)
        {
            <div id="favorites-link">
                @Html.ActionLink("Fotos Favoritas", "FavoritesSlideShow", "Foto")
            </div>
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
